%div.container
  %h2.center-title
    My favorite band
  %div.tab-content
    %div.row
      %div.col-sm-8.col-sm-offset-2.text-center
        %h4
          %p
            I consider myself a fun and open person, so I do not have a favorite band to listen to the music.
            It is enough if the music has rhythm or something interesting to say,
            well, the following 4 genres are most I am used to listening:
      %table
        %tr.band
          %td
            .center-title
              %h4 Rap
            .text-center.band
              = image_tag 'cartelDeSanta.jpg'
            %p.center Cartel de Santa
          %td
            .center-title
              %h4 Rock
            .text-center.band
              = image_tag 'linkinPark.jpg'
            %p.center Linkin Park
          %td
            .center-title
              %h4 Banda
            .text-center.band
              = image_tag 'christianNodal'
            %p.center Christian Nodal
          %td
            .center-title
              %h4 Reggaeton
            .text-center.band
              = image_tag 'luisFonsiDaddyYankee'
            %p.center Luis Fonsi - Daddy Yankee
