%div.container
  %h2.center-title
    Who I Am
  %div.tab-content
    %div.row
      %div.col-sm-8.col-sm-offset-2.text-center
        = image_tag "me.jpg", class: 'img-home'
        %h4
          %p
            I am a student of the 8th semester of Telematics of the University of Colima and I am going to graduate of Software Engineer, love to program as well as improve the current skills and learn new useful stuff to work, life and be a better person in all aspects every day.
