%div.white-container
  .container
    %h2.center-title.scrollReveal.sr-bottom My favorite sport
    %div.sections
      #process
        %p In fact, I really like all kind of sports in general, I like to have fun and the sports were made to have a good time with your friends, family, and on competitions too. However, the sport I practiced most when I was a child, it was the basqueball, so it is my favorite sport.
        .text-center
          = image_tag 'basquetbol.jpg', class: 'img-home'
