%div.white-container
  .container
    %h2.center-title.scrollReveal.sr-bottom My favorite sport
    %div.sections
      #process
        %p Throughout my career every semester I have had projects that include the use of knowledge of all the subjects from the current semester. I have participated as software, web and database developer, using tools like PHP, JavaScript, MySql, C#  and Java.
        .text-center
          = image_tag 'udc.png'
