div.band {
  > img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    padding: 10px 10px 10px 10px;
  }

  > img:hover {
    opacity: 0.5;
  }

  > audio {
    display: none;
  }
}

div.band{
  width: 100%;
  height: 250px;
}

tr.band{
  width: 100%;
  height: 350px;
}

.center {
  text-align: center;
}
