body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.container {
  margin-top: 10%;
  color: white;
}

.center-title {
  text-align: center;
}

p {
  text-align: justify;
}

.img-home {
  border-radius: 200px;
  width: 520px;
  height: 350px;
}
